/* INIZIO HEADER */

header{
    width: 1520px;
    height: 100px;
    background-color: #635a41;
    display: flex;
    padding-left: 200px;
    padding-right:200px;
    border-bottom: 1px solid #191919;
}

.logo{
    width: 760px;
    height: 100px;
    display: inline;
    align-content: center;
    background-color: antiquewhite;
}

nav{
    width: 760px;
    height: 100px;
    align-content: center;
    background-color: aquamarine;
}

.nav_link{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: baseline;
}

nav p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin-left: 50px;
}

.button_nav{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
    font-size: 1em;
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 100px;
    margin-left: 50px;
}

/* FINE HEADER  */

/* INIZIO HERO */

.hero{
    width: 1720px;
    height: 350px;
    background-color: #FFC017;
    padding-left: 200px;
    border-bottom: 1px solid #191919;
    align-content: center;
}

h1{
    font-size: 5em;
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 25px;
}

.hero p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 35px;
}

.button_hero{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
    font-size: 1em;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 100px;
}

/* FINE HERO */

/* INIZIO MAIN - SECTION 1 */

.section_1{
    background-color: aqua;
    width: 1720px;
    height: 50px;
    padding-top: 20PX;
    padding-left: 200px;
    display: inline-flex;
    align-items: center;

}

.first_icon{
    margin-right: 8px;
    width: 25px;
}

h4{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.70em;
    display: inline-block;
}

/* FINE MAIN - SECTION 1 */

/* INIZIO MAIN - SECTION 2 */

.section_2{
    background-color: #FFC017;
    width: 1520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 200px;
    padding-right:200px;
    padding-top: 20PX;
    padding-bottom: 20PX;
    border-bottom: 1px solid #191919;
}

.articoli{
    background-color: aqua;
    width: 400px;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.numero_articolo{
    background-color: red;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    color: #E6E7E7;
    display: inline-block;
    width: 55px;
    height: 35px;

}

.info_articoli{
    background-color: aquamarine;
    display: inline-flex;
    align-items: center;
    height: 30px;
}

.icon_articolo_1{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image01.jpeg);
}
.icon_articolo_2{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image02.png);
}
.icon_articolo_3{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image03.jpeg);
}
.icon_articolo_4{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image04.png);
}
.icon_articolo_5{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image05.jpeg);
}
.icon_articolo_6{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image06.png);
}

.autore_articolo{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.70em;
}

.descrizione_articoli{
    background-color: blueviolet;
    margin-top: 10px;
    margin-left: 58px;
    
}

.p_1_articolo{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    margin-bottom: 10px;
}

.data_articoli{
    background-color: blue;
    display: inline-flex;
    align-items: center;
    margin-left: 58px;
}

.p_2_articolo{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.70em;
    margin-right: 5px;
    color: #E6E7E7;
    display: inline-block;
}

.star_icon{
    width: 15px;
    height: 15px;
    float: left;
}

/* FINE MAIN - SECTION 2 */

/* INIZIO MAIN - SECTION 3 */
.section_3{
    background-color: #635a41;
    width: 760px;
    padding-left: 200px;
    padding-top: 20PX;
    padding-bottom: 20PX;
}

.articoli_section_3{
    background-color: brown;
    display: inline-flex;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.testo_articoli_section_3{
    background-color: aquamarine;
    width: 400px;
    display: inline-block;
}

.info_articoli_section_3{
    background-color: rgb(30, 143, 105);
    display: inline-flex;
    align-items: center;
    height: 30px;
}

.icon_1_section_3{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image07.jpeg);
}

.icon_2_section_3{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image09.jpeg);
}

.icon_3_section_3{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image11.jpeg);
}

.icon_4_section_3{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image13.png);
}

.icon_5_section_3{    
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image15.jpeg);}


.icon_6_section_3{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image17.png);
}

.icon_7_section_3{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image19.jpeg);
}

.autore_section_3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.70em;
}

.descrizione_articoli_section_3{
    background-color: blueviolet;
    margin-top: 10px;
}

.p_1_articolo_section_3{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    margin-bottom: 10px;
}

.p_2_articolo_section_3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.80em;
    color: #E6E7E7;
    margin-bottom: 10px;
}

.data_articoli_section_3{
    background-color: blue;
    display: inline-flex;
    align-items: center;
}

.p_3_articolo_section_3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.70em;
    margin-right: 5px;
    color: #E6E7E7;
    display: inline-block;
}

.p_4_articolo_section_3_one{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.70em;
    margin-right: 5px;
    color: #757575;
    background-color: #F2F3F3;
    width: 40px;
    height: 15px;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.p_4_articolo_section_3_two{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.70em;
    margin-right: 5px;
    color: #757575;
    background-color: #F2F3F3;
    width: 40px;
    height: 15px;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.p_4_articolo_section_3_three{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.70em;
    margin-right: 5px;
    color: #757575;
    background-color: #F2F3F3;
    width: 40px;
    height: 15px;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.p_4_articolo_section_3_four{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.70em;
    margin-right: 5px;
    color: #757575;
    background-color: #F2F3F3;
    width: 40px;
    height: 15px;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.p_4_articolo_section_3_five{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.70em;
    margin-right: 5px;
    color: #757575;
    background-color: #F2F3F3;
    width: 40px;
    height: 15px;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.p_4_articolo_section_3_six{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.70em;
    margin-right: 5px;
    color: #757575;
    background-color: #F2F3F3;
    width: 40px;
    height: 15px;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.p_4_articolo_section_3_seven{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.70em;
    margin-right: 5px;
    color: #757575;
    background-color: #F2F3F3;
    width: 40px;
    height: 15px;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.bookmark_icon{
    width: 25px;
    height: 25px;
    float: right;
    margin-right: 5px;
}

.foto_1_articolo_section_3{
    width: 190px;
    height: 127px;
    margin-left: 20px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image08.jpeg);
}
.foto_2_articolo_section_3{
    width: 190px;
    height: 127px;
    margin-left: 20px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image10.jpeg);
}
.foto_3_articolo_section_3{
    width: 190px;
    height: 127px;
    margin-left: 20px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image12.png);
}
.foto_4_articolo_section_3{
    width: 190px;
    height: 127px;
    margin-left: 20px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image14.png);
}
.foto_5_articolo_section_3{
    width: 190px;
    height: 127px;
    margin-left: 20px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image16.jpg);
}
.foto_6_articolo_section_3{
    width: 190px;
    height: 127px;
    margin-left: 20px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image18.jpeg);
}
.foto_7_articolo_section_3{
    width: 190px;
    height: 127px;
    margin-left: 20px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-image: url(./base_di_partenza/assets/imgs/image20.jpg);
}
/* FINE MAIN - SECTION 3 */

