/* body{
    margin-left:25%;
    margin-bottom:25%;
} */

header{
    width: 1570px;
    height: 100px;
    background-color: #FFC017;
    display: flex;
    padding-left: 200px;
    padding-right:150px;
    border-bottom: 1px solid #191919;
}

.logo{
    width: 800px;
    height: 100px;
    display: inline;
    align-content: center;
}

nav{
    width: 800px;
    height: 100px;
    align-content: center;
}

.nav_link{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
}

nav p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

button{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
    font-size: 1em;
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 100px;
}

.hero{
    width: 1720px;
    height: 350px;
    background-color: #FFC017;
    padding-left: 200px;
    border-bottom: 1px solid #191919;
    align-content: center;
}

h1{
    font-size: 5em;
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 25px;
}

.hero p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 35px;
}

.button_hero{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
    font-size: 1em;
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 100px;
}